/* This css file is linked to the index.html file */


body {
    font-size: 14px;
    color: 3C3C3C;
    background: url(https://www.google.nl/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwih8ceG94bfAhWJ34UKHWqMCxUQjRx6BAgBEAQ&url=https%3A%2F%2Fwww.topspeed.com%2Fcars%2Fford%2F1969-ford-mustang-boss-429-ar32774.html&psig=AOvVaw34g_M6_SeAPg_TVJz8IGn_&ust=1544038832681598);
    margin: 20px;
    font-family: 'Open Sans', sans-serif;
}


p {
    border-width: 10px 20px;
    padding: 20px 10px;
    border: 2px blue dotted;
}

h1 {
    color: #000101;
    background-color: #01CCFE;
    font-size: 3em;
    font-style: bold;
    text-align: center;
    text-transform: capitalize;
}

h2 {
    color: white;
    background-color: #090;
    font-size: 1.5em;
    margin: 0;
    padding: 2px;
    padding-left: 14px;
}

h3 {
    color: #999;
    font-size: 1.25em;
}

img {
    border-style: dashed;
    border-width: 2px;
    border-color: #ccc;
}

a {
    text-decoration: none;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}

li {
    color: #900;
    font-style: italic;
}

table {
    background-color: #ccc;
    border-style: dotted;
    border-width: 5px;
    border-color: black;
}
