/* This css file is linked to the index.html file */


body {
    font-size: 14px;
    color: 3C3C3C;
    background-color: #FEBB01;
    margin: 20px;
    font-family: 'Open Sans', sans-serif;
}


p {
    border-width: 10px 20px;
    padding: 20px 10px;
    border: 2px blue dotted;
}

h1 {
    color: #000101;
    background-color: #01CCFE;
    font-size: 3em;
    margin: 0;
    margin-bottom: 12px;
    padding: 4px;
    font-style: bold;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 5em;
    border-bottom-color: #c00;
    text-transform: capitalize;
}

h2 {
    color: white;
    background-color: #090;
    font-size: 1.5em;
    margin: 0;
    padding: 2px;
    padding-left: 14px;
}

h3 {
    color: #999;
    font-size: 1.25em;
}

img {
    border-style: dashed;
    border-width: 2px;
    border-color: #ccc;
}

a {
    text-decoration: none;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}

li {
    color: #900;
    font-style: italic;
}

table {
    background-color: #ccc;
    border-style: dotted;
    border-width: 5px;
    border-color: black;
}
